@model DnDFrontEnd.Models.Spells

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spells</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spellname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spellname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Components)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Components)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Spellsid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
