@model DnDFrontEnd.Models.Charisma

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Charisma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chasaveprof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chasaveprof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chavalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chavalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deception.Deceptionid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intimidation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intimidation.Intimidationid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Performance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Performance.Performanceid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persuasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persuasion.Persuasionid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Charismaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
