@model IEnumerable<DnDFrontEnd.Models.Wisdom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wissaveprof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wisvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animalhand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perception)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wissaveprof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wisvalue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animalhand.AnimalHandlingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insight.Insightid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perception.Perceptionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survival.Survivalid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Wisdomid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Wisdomid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Wisdomid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
