@model DnDFrontEnd.Models.StatBlock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StatBlock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basehp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basehp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passiveperception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passiveperception)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.PlayerCharacterid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma.Charismaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution.Constitutionid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity.Dexterityid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence.Intelligenceid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength.Strengthid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wisdom.Wisdomid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Statblockid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
